*{
	box-sizing: border-box;
}
html,body{
	position: relative;
	left: 1%;
	width: 98%;
	height: 100%;
}
h1{
	text-align: center;
	color:white;
}
a{
	color: white;
	lighting-color: white;
	text-decoration: none;
}
.indro-top{
	width: 100%;
	height:auto;
}
.indro-top-img{
	width: 100%;
	height: 100%;
	background: url(../img/coding.jpg) no-repeat content-box;
}
.indro-kalicat-photo{
	width:10rem;
	height: 10rem;
	border-radius: 3rem;
	border-color: white;
}
.intro-body{
	width:100%;
	height:auto;
	display: flex;
	flex-direction: row;
}
.indro-body-personal,.indro-body-hobbies,.indro-body-more{
	height: 100%;
	margin:0.8rem;
	background: url(../img/coding.jpg) no-repeat  white content-box;
	background-clip: border-box;
	background-position: right;
}
.indro-body-personal{
	width: 33.33%;
}
.indro-body-hobbies{
	width:33.33%;
}
.indro-body-more{
	width:33.33%;
}
.indro-body-text{
	animation-duration: 5s;
}
.indro-body-hidden{
	display: none;
	margin-top: 10%;
	width: 100%;
	height: auto;
	background-color:gray;
	opacity: 0.9;
}

.intro-footer{
	width:100%;
	height:auto;
	background: gray;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}
.intro-footer-item{
	position: relative;
	left:25%;
	width:50%;
	animation-duration: 5s;
	
}
.intro-footer-item-img{
	width:10rem;
	height:10rem;
}
@media only screen and (max-width:500px) {
	h1{
		font-size: 1rem;
		
	}
	.indro-kalicat-photo{
		width: 50px;
		height: 50px;
	}
	.indro-body-hidden h1{
		font-size: 0.8rem;
	}
}
@media only screen and (max-width:1000px) {
	h1{
		font-size: 2rem;
	}
		.indro-kalicat-photo{
		width: 100px;
		height: 100px;
	}
	.indro-body-hidden h1{
		font-size: 1.2rem;
	}
}
@media only screen and (min-width:1000px) and (max-width: 1500px) {
	h1{
		font-size: 2rem;
	}
		.indro-kalicat-photo{
		width: 120px;
		height: 120px;
	}
	.indro-body-hidden h1{
		font-size: 1.2rem;
	}
}
@media only screen and (min-width:1500px) {
	h1{
		font-size: 3rem;
	}
		.indro-kalicat-photo{
		width: 150px;
		height: 150px;
	}
	.indro-body-hidden h1{
		font-size: 2rem;
	}
}